requests~=2.25.1
BeautifulSoup4~=4.9.3
pytesseract~=0.3.8
urllib2
cookielib
jsonpath~=0.82
pandas~=1.2.5
sqlparse~=0.4.2
PyAutoGUI~=0.9.52
pillow~=8.2.0
redis~=4.4.0
pyperclip~=1.8.2
jieba~=0.42.1
wordcloud~=1.8.2.2